.card{
    border-radius: 20px;
    border: 1px solid #000000;
    width: 370px;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}
.title{
    margin: auto;
}
.imageWindow{
    margin: auto;

    border:5px dotted black;
    width: 250px;
    height: 140px;
}
.textWindow{
    margin: auto;
    border:1px solid black;
    width: 250px;
    height: 140px;
}