.display{
    border: solid lime;
    /* height: 700px; */
    /* display: flex; */
    justify-content: space-evenly;
    padding: 15px;
    margin: auto;
}
.catTitle{
    border: solid purple;
    font-size: 40px;
}
.cardContainer{
    border:solid fuchsia;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    margin: auto;
    flex-wrap: wrap;
}
